/* ==========================================================================
   Card - standard content module
   ========================================================================== */

.section-summary {
    margin-top: 15px;
    h3 {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 15px;
    }
    p {
        color: $gray;
        margin-bottom: 15px;
    }
}

.card {
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px 0; // matches y offset for shadow, for apps in iFrame

    /* Content
    ========================================================================== */
    .card-content {
        position: relative;
        padding: 30px;

        hr {
            border-color: $border-color;
        }

        .card-description {
            width: 200px;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 30px;
            h3 {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 13px;
                text-transform: uppercase;
                color: $gray-dark;
            }
            p {
                margin-bottom: 20px;
                color: $gray;
            }
        }
        .card-body {
            margin-left: 60px;
            flex-grow: 1;
        }
    }

    .card-notice {
        font-size: 12px;
        padding: 10px;
        position: relative;
        background-color: #f5f6f7;
        border-top: 1px solid #d3dbe2;
        box-shadow: 0 1px 1px rgba(0,0,0,0.025);
    }

    /* Sidebar content
    ========================================================================== */
    &.card-aside {
        background-color: #f5f6f7;
    }
}


