@mixin resolveVariable($prop, $var, $default) {
  #{$prop}: $default;
  #{$prop}: var($var);
}

:root {
  /* Brand Colors
  ========================================================================== */
  --brand-primary:                #{$brand-primary};
  --brand-primary-dark:           #{$brand-primary-dark};
  --gray:                         #{$gray};
  --brand-secondary:              #{$brand-secondary};
  --brand-secondary-dark:         #{$brand-secondary-dark};
  --brand-secondary-darker:       #{$brand-secondary-darker};
  --brand-secondary-light:        #{$brand-secondary-light};
  --brand-secondary-lighter:      #{$brand-secondary-lighter};
  --brand-secondary-light-medium: #{$brand-secondary-light-medium};
  
  /* Card Colors
  ========================================================================== */
  --card-primary:                 #{$card-primary};
}
