@mixin resolveVariable($prop, $var, $default) {
  #{$prop}: $default;
  #{$prop}: var($var);
}

:root {
  /* Brand Colors
  ========================================================================== */
  --brand-primary:         #4078C0; // we need a rich blue
  --brand-primary-dark:    $brand-primary-dark;
  --gray:                  $gray;
  /* Card Colors
  ========================================================================== */
  --card-primary:          #fff;
}
