<div class="color-picker" ng-blur="close()">
    <div class="swatch" ng-style="{ 'background-color': '#' + hex }" ng-click="toggle()"></div>
    <div class="transcluded" ng-transclude ng-click="toggle()"></div>
    <div class="palette" ng-class="{ 'opened': opened }">
        <div class="saturation" ng-class="{ 'no-alpha': noAlpha }" ng-style="{ 'background-color': '#' + getHueColor() }">
            <div class="cursor"></div>
        </div>
        <div class="preview" ng-style="{ 'background-color': '#' + hex }"></div>
        <div class="hue">
            <div class="cursor"></div>
        </div>
        <div class="numbers">

            <ul class="clearfix" ng-class="{ 'show-as-hex': showAs=='hex', 'show-as-rgb': showAs=='rgb'  }">
                <li class="">
                    <label translate translate-comment="R represents 'red' in rgb">R:</label>
                    <input class="channel-red" type="number" name="channel-red" min="0" max="255"
                           ng-model="red"
                           ng-change="watchRGBInputChange()">
                </li>
                <li class="">
                    <label translate translate-comment="G represents 'green' in rgb">G:</label>
                    <input class="channel-green" type="number" name="channel-green" min="0" max="255"
                           ng-model="green"
                           ng-change="watchRGBInputChange()">
                </li>
                <li class="">
                    <label translate translate-comment="B represents 'blue' in rgb">B:</label>
                    <input class="channel-blue" type="number" name="channel-blue" min="0" max="255"
                           ng-model="blue"
                           ng-change="watchRGBInputChange()">
                </li>
                <li class="iconic" ng-click="toggleShowAs()">
                    <i class="icon ion-android-options"></i>
                </li>
                <li class="hex-values">
                    <label>#</label>
                    <input class="hex-input" type="text" name="hex-input" maxlength="6"
                           ng-model="hexInput"
                           ng-change="watchHEXInputChange()">
                </li>
            </ul>

        </div>

        <div class="alpha" ng-hide="noAlpha" >
            <div class="field">
                <label translate translate-comment="A represents 'Alpha'">A:</label>
                <input class="channel-alpha"
                       type="number" name="channel-alpha"
                       min="0" max="100"
                       ng-model="alphaPercent">
            </div>
            <div class="alpha-slider" ng-style="{ 'background-color': '#' + hex }">
                <div class="cursor"></div>
            </div>
        </div>
        <!-- DEBUG:
        <p class="debug">alpha:{{alpha}} <br> hex:{{hex}} <br> rgb:{{rgb}} <br> r:{{red}} <br> g:{{green}} <br> b:{{blue}} <br> h:{{hue}} <br> s:{{saturation}} <br> l:{{brightness}}</p>
        -->
    </div>
</div>
