<label for="{{ ::id }}" ng-bind="::label | translate"></label>
<div class="validation" ng-messages="formField.$error" ng-if="formField.$dirty">
    <span class="text-danger" ng-message="required" translate>This is required.</span>
    <span class="text-danger" ng-message="email" translate>Please enter a valid email address.</span>
    <span class="text-danger" ng-message="url" translate>Please enter a valid URL starting with http:// or https://</span>
    <span class="text-danger" ng-message="equals" translate>Passwords must match.</span>
</div>
