<div class="themes-directive">
    <!--ENPUG DEFAULT THEMES -->
    <div class="themes-flexbox">
        <h3 class="flexbox-header"><translate>Enplug Themes</translate></h3>
        <div class="enplug-themes-container">
            <div ng-class="{'selected': selectedTheme.Id == theme.Id}"
                ng-style="filterStyle(theme)"
                ng-click="selectTheme(theme)" ng-repeat="theme in defaultThemes | orderDefaultTheme: defaultThemes" class="custom-themes">
                <div class="template">
                    <div class="mini-template" ng-style="filterStyle(theme)" ng-transclude>
                        <!--THUMBNAIL TEXT OR CONTENT GOES HERE  -->
                    </div>
                </div>
                <span class="label">{{theme.Name}}</span>
                <div ng-hide="false" class="roll-over">
                    <button class="btn theme-edit-button theme-copy-button"
                        ng-click="
                        copyTheme(theme)">
                        <translate>Edit Theme</translate>
                    </button>
                </div>
            </div>
       </div>
    </div>
    <!-- CUSTOM USER ACCOUNT THEMES -->
    <div class="themes-flexbox">
        <h3 class="flexbox-header"><translate>Custom Themes</translate></h3>
        <!-- Saved Theme  -->
        <div class="enplug-themes-container">
            <div ng-class="{'selected': selectedTheme.Id == theme.Id}"
                ng-style="filterStyle(theme)"
                ng-click="selectTheme(theme)" ng-repeat="theme in customThemes" class="custom-themes">
                <div class="template">
                    <div class="mini-template" ng-style="filterStyle(theme)" ng-transclude>
                        <!--THUMBNAIL TEXT OR CONTENT GOES HERE  -->
                    </div>
                </div>
                <span class="label">{{theme.Name}}</span>
                <div ng-hide="false" class="roll-over">
                    <button class="btn theme-edit-button" ng-click="
                    editTheme(theme)">
                        <translate>Edit</translate>
                    </button>
                    <button class="btn theme-delete-button" ng-click="removeTheme(theme)">
                        <translate>Delete</translate>
                    </button>
                </div>
            </div>
            <!-- New Theme-->
            <div ng-click="createNewTheme()" ng-class="{'selected': selected == newTheme}"
                class="custom-themes new-theme">
                <img class="new-theme-img" ng-src="./img/new-theme.png"/>
                <span class="label">{{newTheme.Name}}</span>
            </div>
        </div>
    </div>
</div>
