dropdown-menu:not(.dropdown-wrap) {
    display: none; // prevent content from showing before directive has loaded
}

.dropdown-wrap {
    position: relative;

    &.open {
        .dropdown-menu {
            //    display: block;
            max-height: 500px;
            z-index: 3000;
            opacity: 1;
            .menu-content {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &.open.closing .dropdown-menu, & .dropdown-menu {
        opacity: 0;
        max-height: 0;
        .menu-content {
            transform: translate3d(0, -20px, 0);
        }
    }

    .dropdown-toggle {
        cursor: pointer;
        user-select: none;
    }
    .dropdown-menu {
    //    display: none;

        &:not(.custom) {
            //    margin-top: -40px;
            top: -20px;
            padding: 0 30px 20px 30px;
            .menu-content {
                //    min-width: 100px;
                white-space: nowrap;
            }
        }

        position: absolute;
        display: block;
        z-index: -1;
        top: 100%;
        left: -20px;
        right: auto;
        background: #fff;

        transition: all 150ms cubic-bezier(.7,0,.3,1);

        overflow: hidden;

        &.left {
            left: auto;
            right: -15px;
        }

     //   padding-top: 20px;
    //    margin-top: 60px;

        box-shadow: $box-shadow;
    //    border-radius: $border-radius;

        .menu-content {
            padding-top: 20px;
            transition: all 150ms cubic-bezier(.7,0,.3,1);
            overflow: hidden;
            display: block;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .items,
        .actions,
        .select {
            line-height: 2;
            a {
                display: block;
                font-weight: normal;
                font-size: 15px;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .items,
        .actions {
            a {
                color: $gray-dark;
                &.active {
                    @include resolveVariable(color, --brand-primary, $brand-primary);
                }
                &.text-gl {
                    color: $gray-light
                }
                &:hover {
                  @include resolveVariable(color, --brand-primary, $brand-primary);
                }
            }
        }
        .select {
            a {
                color: $gray;
                &.active {
                    color: $gray-darker;
                }
                &:hover {
                    color: $gray-darker;
                }
            }
        }
    }
}

@keyframes dropdown {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
