/* ==========================================================================
   SVG loading indicator
   ========================================================================== */

.loading-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .loading-content {
        height: 100%;
        width: 100%;
    }

    .loading-directive {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;

        /* Wrapper
        ========================================================================== */
        .loader {
            position: relative;
            margin: 0 auto;
            width: 65px;
            height: 64px;
            zoom: 1;
        }

        /* SVG element
        ========================================================================== */
        .circular {
            animation: loadingrotate 2s linear infinite;
            height: 64px;
            position: relative;
            width: 65px;
        }
        .path {
            stroke-dasharray: 1,200;
            stroke-dashoffset: 0;
            animation: loadingdash 1.5s ease-in-out infinite;
            stroke-linecap: round;
            stroke: #428bca;
        }
    }
}

/* Animations
========================================================================== */
@keyframes loadingrotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingdash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 150, 200;
        stroke-dashoffset: -50;
    }
    100% {
        stroke-dasharray: 150, 200;
        stroke-dashoffset: -185;
    }
}
