/* Tab list
========================================================================== */

.tab-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: visible;
    flex-wrap: nowrap;
    display: flex;
    align-items: stretch;

    &:not(.no-stretch):after {
        // Finishes the border
        content: '';
        display: block;
        flex-grow: 1;
        box-shadow: 0 1px 0 $border-color;
    }

    &.no-stretch {
        li:last-of-type {
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;
        }
    }

    li {
        position: relative;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        align-items: stretch;
        padding: 0 8px;
        box-shadow: 0 1px 0 $border-color;
        text-transform: capitalize;

        a {
            position: relative;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 8px;
            font-size: 14px;
            text-decoration: none;
            color: $gray;
            text-align: center;
            cursor: pointer;
            font-weight: normal;
            &:focus, &:hover {
                outline: none;
                text-decoration: none;
                @include resolveVariable(color, --brand-primary, $brand-primary);
            }
            &.active {
                font-weight: bold;
                // TODO: Check on this below
                box-shadow: 0 3px 0;
                cursor: default;
                text-decoration: none;
                @include resolveVariable(color, --brand-primary, $brand-primary);
            }
        }
        &.tab-select {
            position: relative;
            padding-right: 20px;
            display: flex;
            align-items: center;
            &:hover {
                span {
                    @include resolveVariable(color, --brand-primary, $brand-primary);
                }
            }
            span {
                font-size: 14px;
                &:after {
                    font-family: 'Ionicons';
                    content: '\f123';
                    margin-left: 10px;
                    font-size: 12px;
                    @include resolveVariable(color, --brand-primary, $brand-primary);
                }
            }
            select {
                position: absolute;
                background: 0 0;
                opacity: 0;
                border: none;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                cursor: pointer;
            }
        }
    }
}
