/* ==========================================================================
   Custom tooltips
   ========================================================================== */

.glossaryTip {
    position: relative;

    &:hover {
        .tip {
            display: block;
            animation: tooltip $transition-speed ease-out;
        }
    }

    /* Indicator that shows before hovering. Can be icon or text
    ========================================================================== */
    sup,
    .tipText {
        top: auto;
        padding-left: 3px;
        vertical-align: top;
        font-size: smaller;
        line-height: inherit;
        font-weight: bold;
        text-decoration: none!important;
        cursor: pointer;
    }

    sup {
        font-size: 14px;
        &:hover {
            color: $gray-dark;
        }
    }

    /* Tooltip
    ========================================================================== */
    .tip {
        display: none;
        position: absolute;
        bottom: 100%;
        width: 250px;
        text-align: left;
        z-index: 99999;

        .tip-content {
            display: block;
            background: #fff;

            // Box model of contents
            .tipTitle,
            .tipBody,
            a {
                display: block;
                padding: 5px 20px;
            }

            /* Title styling. Reset anything inhereted
            ========================================================================== */
            .tipTitle {
                // Important to override anything inhereted
                font-weight: 600 !important;
                text-transform: uppercase !important;
                letter-spacing: normal !important;
                font-size: 11px !important;
                padding-top: 20px;
            }

            /* Body text & footer link styling. Reset anything inhereted
            ========================================================================== */
            .tipBody,
            a {
                text-transform: none !important;
                letter-spacing: 0 !important;
                text-decoration: none !important;
            }

            .tipBody {
                font-size: 14px !important;
                font-weight: normal !important;
            }

            a {
                font-weight: normal !important;
                padding-bottom: 20px;
                font-size: 12px;
            }

            /* Arrow
            ========================================================================== */
            .tipArrow {
                position: absolute;
                left: 50%;
                top: -20px;
                width: 20px;
                height: 20px;
                overflow: hidden;
                pointer-events: none;
                &:after {
                    content: "";
                    position: absolute;
                    top: 15px;
                    left: 50%;
                    transform: rotate(45deg);
                    margin-left: -5px;
                    display: block;
                    height: 10px;
                    width: 10px;
                    background-color: #fff;
                    box-shadow: 0 0 0 1px rgba(39,44,48,0.05),0 2px 7px 1px rgba(39,44,48,0.16);
                }
            }
        }
    }

    /* Positioning. Must include top/bottom and left/right
    ========================================================================== */
    .tip {
        &.top {
            padding-bottom: 10px;
            .tipArrow {
                top: auto;
                bottom: -10px;
                transform: rotate(180deg);
            }
        }
        &.bottom {
            bottom: auto;
            top: 100%;
            padding-top: 10px;
            .tipArrow {
                top: -10px;
            }
        }
        &.right {
            right: -13px;
            left: auto;
            .tipArrow {
                left: auto;
                right: 10px;
            }
        }
        &.left {
            left: -10px;
            .tipArrow {
                left: 10px;
            }
        }
        &.inlineRight {
            left: 100%!important;
            top: -50%;
            padding: 4px 0 0 10px;
            .tipArrow {
                left:-10px;
                top: 10px;
                transform: rotate(-90deg);
            }
        }
        &.center {
            right: -117px;
            left: auto;
            .tipArrow {
                right: 117px;
                left: auto;
            }
        }
    }
}

@keyframes tooltip {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
