.form-material {
    .material-select {

        position: relative;
        width: 100%;
        display: block;
        box-shadow: 0 1px 0 $border-color;

        span {

            padding: 19px 0 10px 0;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            color: lighten($gray-light, 15);

            &:after {
                color: $gray!important;
                font-family: 'Ionicons';
                content: "\f123";
                position: absolute;
                top: 20px;
                right: 10px;
            }
        }

        &.selected span {
            color: $gray-darker;
        }

        select {
            position: absolute;
            background: 0 0;
            opacity: 0;
            border: none;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;

            .default-option {
                display: none;
            }
        }
    }
}
